[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/onqtam/doctest
[submodule "vendor/compile-time-regular-expressions"]
	path = vendor/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions
[submodule "vendor/abseil-cpp"]
	path = vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "vendor/autotimer"]
	path = vendor/autotimer
	url = https://github.com/Wei-N-Ning/autotimer
